name = 'match-scorecard'
compatibility_date = "2024-12-11"
pages_build_output_dir = ".vercel/output/static"

[observability]
enabled = false
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = false
persist = true
head_sampling_rate = 1